@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

.partytitle{
    width : 100%;
    margin-top: 20px;
    margin-left: 10%;
}
.writer{
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
}
.partydesc{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10%;
    padding : 25px;
    font-size: 20px;
    height: 200px;
    width: 600px;
    color: white;
    font-weight: 600;
    background-color:  #d0e7ce;
    /* border: #037c5e 1px solid; */
}


.label {
    font-family : "Poppins" !important;
    font-size : 24px!important;
    font-style : italic!important;
    margin-left: 20%!important;
}

.category{
    margin-left: 20px;
}

.member {
    font-family: 'HangeulNuri-Bold';
    margin-top: 50px;
    /* margin-bottom: 10px; */
    margin-left : 15% !important;
    font-size : 24px !important;
    font-weight : 800 !important;
    color :  #037c5e !important;
}

.memberlist{
    font-family: 'InfinitySans-RegularA1';
    padding : 3px;
    margin-top: 10px;
    margin-left : 15%;
    height: 40px;
    font-size: 20px;
    color: #037c5e;
    border:  #d0e7ce  2px solid;
    width: 80%;
}

.partybutton {
    padding: 8px;
    font-family: 'NanumSquare', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    margin : 10px;
    border-radius: 10px;
    outline: none;
  }
  .partybutton:hover {
  background: #037c5e;
  color:  #f6f6f6;
  transition: background-color 1s ease-out;
  }

  .isStart{
    font-family: 'Cafe24Ohsquare';
      color: white;
      background-color: red;
      border: black 3px solid;
      border-radius: 15px;
      font-size: 20px;
      width : 300px;
      margin: 30px;
      margin-left:35%;
      padding : 10px;
      padding-left: 80px;
      
  }

  .commentForm {
      margin : 0;
      margin-top: 50px;
      width: 100%;
  }